@import url("http://fonts.cdnfonts.com/css/netflix-sans");
* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: "Netflix sans", sans-serif;
  background-color: rgba(20, 20, 20, 1);
}

/* NAVIGATION BAR STYLES */

.nav-bar {
  height: 6.8vh;
  min-height: 40px;
  width: 94vw;
  background: linear-gradient(0deg, rgba(20, 20, 20, 0), rgba(20, 20, 20, 255));
  display: flex;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 9vw;
  position: fixed;
  z-index: 99;
}

.nav-bar__right,
.nav-bar__left {
  display: flex;
  height: 100%;
  color: #e5e5e5;
  font-size: 0.9em;
  justify-content: space-around;
}

.nav-bar__section {
  display: inline-block;
  justify-content: center;
  align-self: center;
  white-space: nowrap;
  margin: 0 0 0 1.6em;
}

.logo-container {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.child__section {
  cursor: pointer;
}

.categories-menu__item {
  display: inline;
  vertical-align: text-bottom;
}

.categories-menu__links {
  color: #ffffffe5;
  margin: 0 0 0 0.4em;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-bar__img-profile {
  border-radius: 10%;
  cursor: pointer;
}

.logo-netflix {
  cursor: pointer;
  justify-self: center;
  font-size: 1.5rem;
  text-decoration: none;
}

.icon-bell,
.icon-search {
  cursor: pointer;
  font-size: 1.4em;
}

/* HEADER (FIRST IMPRESSION) */
/* Z INDEXES

99 - NavBar


*/

.movie__trailer {
  position: relative;
  top: -6.8vh;
  left: 0;
}

.movie__trailer-video {
  width: 100%;
  position: relative;
  z-index: 1;
}

.movie__trailer-information {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.movie__trailer-description {
  transition: 1s;
}

.movie-trailer-name__container {
  margin-top: 10vw;
}

.movie__trailer-name {
  width: 100%;
  transition: 2s;
}

.movie__trailer-cover {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transition: 1.3s;
}

.movie__trailer-text {
  top: 0;
  padding: 0 3vw;
  padding-top: 6%;
  width: 30%;
  font-size: 1.4vw;
  color: #fff;
  z-index: 4;
  position: relative;
  top: 0;
  left: 0;
}

.movie__trailer-buttonpanel {
  display: flex;
  margin-top: 1.2vw;
}

.movie__trailer-playbtn,
.movie__trailer-infobtn {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-style: none;

  padding: 0.55vw 1.5vw;
  border-radius: 0.2em;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-font-smoothing: antialised;
}

.movie__trailer-playbtn {
  color: black;
  background-color: white;
  margin-right: 0.6vw;
}
.movie__trailer-infobtn {
  color: white;
  background-color: rgb(59, 59, 59);
}

.icon-play,
.icon-information {
  font-weight: normal;
  font-size: 1.3em;
  margin-right: 0.6em;
}

/* -------------------------------------------------------- */
/* MOVIES SECTION*/

.main__body {
  padding: 0 3vw;
  top: -5vw;
  color: #b3b3b3;
  position: relative;
  height: 1000px;
  z-index: 6;
  background: rgb(20, 20, 20);
  box-shadow: 0px 0px 5em 3em rgba(20, 20, 20, 1);
}

.movie__container {
  position: relative;
  top: -8vw;
}

.movie__container-category-name {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.4vw;
  display: block;
}
.movie__container-list {
  display: flex;
  list-style-type: none;
  margin-top: 1em;
  gap: 6px;
}

.movie__container-item {
}

.movie__container-item-clickeable {
  display: block;
  width: 15vw;
}

.movie__container-item-cover {
  display: block;
}

.movie__container-item-img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* CLASSES FOR JAVASCRIPT DINAMICS */

.trailer__playing-title {
  transition: 2s;
  transform-origin: left bottom;
  transform: scale(0.9) translate(0, 10vw);
  transition-delay: 4s;
}

.trailer__playing-description {
  opacity: 0;
  transform-origin: left bottom;
  transform: translateY(2vw) scaleY(0.8);
  transition: 0.6s;
  transition-delay: 4s;
}

.trailer__playing-cover {
  opacity: 0;
  transition: 1.3s;
}

/* CLASSES FOR DINAMIC ELEMENTS */

.category-selected {
  color: white;
  font-weight: 600;
}

/* EVENTS CSS  */

.categories-menu__links:hover {
  color: #b3b3b3;
  transition: 0.5s;
}

.movie__trailer-playbtn:hover,
.movie__trailer-infobtn:hover {
  opacity: 0.7;
}

/* ANIMATIONS CSS */
